name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
     - uses: lowlighter/metrics@latest
       with:
          filename: my-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
  
          
     - uses: lowlighter/metrics@latest
       with:
          filename: my-metrics-1.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

     # - uses: lowlighter/metrics@latest
     #   with:
     #    filename: metrics.plugin.leetcode.svg
     #    token: NOT_NEEDED
     #    base: ""
     #    plugin_leetcode_user: ${{ secrets.LEET_CODE_USER }}
     #    plugin_leetcode: yes
     #    plugin_leetcode_sections: solved, skills, recent

     - uses: lowlighter/metrics@latest
       with:
        filename: metrics.plugin.chess.svg
        token: NOT_NEEDED
        base: ""
        plugin_chess: yes
        plugin_chess_user: ${{ secrets.CHESS_USER }}
        plugin_chess_token: ${{ secrets.CHESS_TOKEN }}
        plugin_chess_platform: lichess.org
